.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 24px;
    margin-right: auto;

    & > span {
        display: block;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
    }

    &--expanded {
        background-color: #FFFFFF;
        padding: 0;

        & > span {
            color: #14171F;
            margin: 0 10px;
        }
    }
}