@import '../../scss/mixins/MediaQuery.scss';

.button {
    font-family: 'Montserrat';
    padding: 10px 24px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 57px;
    border: none;
    margin: 10px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 0 !important;
    margin-left: 0 !important;

    @include media-query(sm) {
        margin: 16px;
        font-size: 16px;
        line-height: 20px;
    }

    &:hover {
        cursor: pointer;
    }

    &--primary {
        background: #6147FF;
    }

    &--secondary {
        background: transparent;
        border: 1px solid #6147FF;
    }

    &--icon {
        border-radius: 50%;
        background-color: #FF4747;
        padding: 10px 12px;

        &:hover {
            cursor: pointer;
            background-color: #fb5959;
        }
    }
}