@import './MediaQuery.scss';

@mixin container {
    @include media-query(lg) {
        width: 1024px;
        margin: auto;
    }

    @include media-query(sm) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include media-query(xs) {
        padding-left: 10px;
        padding-right: 10px;
    }
}