.connection-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>span {
        margin: 24px 0;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
    }
}