.channel {
    background: #6147FF;
    border-radius: 24px;
    width: 306px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: inline-grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        padding: 20px;
 
        &__logo {
            &,
            &__inner {
                background: #FFFFFF;
            }

            width: 89px;
            height: 89px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__inner {
                width: 80px;
                height: 80px;
                border: 3px solid #6147FF;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;

            & > a,
            & > div.tag,
            & > span {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            & > a {
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;

                &:hover {
                    color: #e5e5e5;
                }
            }
        }
    }

    &__body {
        background: #FFFFFF;
        border-radius: 24px;
        padding: 20px;
        height: 173px;
        overflow: scroll;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #14171F;
    }
}