@import '../../scss/mixins/index';

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    @include container;
    
    @include media-query(lg) {
        padding-bottom: 62px;
    }

    @include media-query(sm) {
        padding-bottom: 55px;
    }

    @include media-query(xs) {
        padding-bottom: 42px;
    }

    &--logo {
        width: 108px;
        height: 30px;
    }
}