@import '../../scss/mixins/index';

.footer {
    background: #23214C;
    margin-top: 60px;
    padding-bottom: 40px;
    height: 370px;

    &__inner {
        padding-top: 40px;

        @include container;

        &--logo {
            width: 108px;
            height: 30px;
        }

        &__info {
            display: flex;
            flex-direction: column;

            @include media-query(sm) {
                flex-direction: row;
            }

            &>img {
                margin-right: 85px;
            }

            &__links {
                display: block;
                margin-top: 20px;

                @include media-query(sm) {
                    margin-top: 0;
                }

                @media screen and (min-width: 900px) {
                    display: flex;
                }

                &>ul {
                    display: flex;
                    padding: 0;

                    @include media-query(sm) {
                        padding-left: 20px;
                    }

                    li {
                        color: #FFFFFF;
                        display: block;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;

                        @include media-query(sm) {
                            font-size: 14px;
                            line-height: 17px;
                        }

                        &:hover {
                            cursor: pointer;
                            color: #e5e5e5;
                        }

                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

        &__copyright {
            display: flex;
            flex-direction: column;

            @include media-query(sm) {
                flex-direction: row;
            }

            &__name {
                margin-right: 80px;
                display: inline-block;
                min-width: 133px;
            }

            &__desc {
                width: 300px;

                @include media-query(md) {
                    width: 424px;
                }

                @include media-query(lg) {
                    width: 588px;
                }
            }

            &>p {
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: #83829A;
            }
        }
    }
}