@import './scss/mixins/index';

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        @include container;

        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 44px;
            color: #FFFFFF;

            @include media-query(sm) {
                font-size: 32px;
            }
        }
    }

    &__btn-more {
        height: 24px;
        min-width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__channels {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        @include media-query(sm) {
            flex-direction: row;
            overflow: scroll;
        }

        &>div.channel {
            min-width: 306px;
            margin-bottom: 20px;

            &:not(:last-child) {
                @include media-query(sm) {
                    margin-right: 20px;
                }
            }
        }
    }
}