@import './scss/mixins/index';

body {
    font-family: 'Montserrat';
    background-color: #14171F;
    padding: 0;
    margin: 0;
}

html,
body,
div[id="root"],
.App {
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    height: 10px;

    &-thumb {
        background: #23214C;
        border-radius: 15px;
        width: 5px;
    }
}